
.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    background: transparent linear-gradient(136deg, #878794 0%, #976ea0 49%, #897393 100%) 0% 0% no-repeat padding-box;

  }
  
  .password-display {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .copy-button {
    position: absolute;
    right: 50px;
    background-color: #309370c8;
    color: #fff;
    border: none;
    
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .copy-button:hover {
    background-color: #a1b0b6;
  }
  
  .password-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  
  
  .password-length {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .requirements {
    display: flex;
    flex-direction: row;
    
    flex-basis: calc(50% - 10px);
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    margin-left: 25px;
    margin-right: 10px;
    
  }
  
  .generate-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .generate-button:hover {
    background-color: #1d9d4f;
  }
  